// COLOR
$cus-color-primary: #94d82d;
$cus-color-light: #d8f5a2;
$cus-color-dark: #74b816;
$cus-color-gray-exLight: #f8f9fa;
$cus-color-gray-light: #f1f3f5;
$cus-color-gray-primary: #adb5bd;
$cus-color-gray-dark: #212529;
$cus-color-white: #fff;
$cus-color-black: #333;

// FONT SIZE
$cus-default-font-size: 1.2rem;
